DsChPj: Data Science Challenge Project

# Online Sales - Data transformation and manipulation

O objetivo desse projeto é realizar uma análise dos resultados de um evento com os clientes de uma empresa de vendas online. Foi coletado um conjunto de dados que contém os clientes que mais gastaram com produtos dentro de 5 dias de vendas, que é o período de duração do evento. Essa análise vai identificar o cliente com a maior compra na semana, que irá receber um prêmio da loja, e posteriormente, ela pode ajudar a empresa a criar novas estratégias para atrair mais clientes.

A base de dados utilizada nessa análise é a dados_vendas_clientes.json e contém informações importantes sobre os clientes como, o nome de cadastro do cliente, o valor total pago na compra e o dia da compra.

---

The objective of this project is to analyze the results of an event with the customers of an online sales company. A dataset containing the customers who spent the most with products within 5 days of sales, which is the duration of the event, was collected. This analysis will identify the customer with the biggest purchase in the week, who will receive a prize from the store, and later on, it can help the company create new strategies to attract more customers.

The database used in this analysis is data_sales_customers.json and contains important information about customers, such as the customer's registration name, the total amount paid for the purchase and the day of purchase.

### Step 1

O desafio do projeto 1: vendas online será abrir a base de dados com Pandas e aplicar o json_normalize.

---

The challenge for project 1: online sales will be to open the database with Pandas and apply json_normalize.

In [1]:
import pandas as pd

In [2]:
data = pd.read_json('https://caelum-online-public.s3.amazonaws.com/2928-transformacao-manipulacao-dados/dados_vendas_clientes.json')
data.head(5)

                                        dados_vendas
0  {'Data de venda': '06/06/2022', 'Cliente': ['@...
1  {'Data de venda': '07/06/2022', 'Cliente': ['I...
2  {'Data de venda': '08/06/2022', 'Cliente': ['I...
3  {'Data de venda': '09/06/2022', 'Cliente': ['J...
4  {'Data de venda': '10/06/2022', 'Cliente': ['M...

In [3]:
data = pd.json_normalize(data['dados_vendas'])
data

,Data de venda,Cliente,Valor da compra
0,06/06/2022,"[@ANA _LUCIA 321, DieGO ARMANDIU 210, DieGO AR...","[R$ 836,5, R$ 573,33, R$ 392,8, R$ 512,34]"
1,07/06/2022,"[Isabely JOanes 738, Isabely JOanes 738, Isabe...","[R$ 825,31, R$ 168,07, R$ 339,18, R$ 314,69]"
2,08/06/2022,"[Isabely JOanes 738, JOãO Gabriel 671, Julya m...","[R$ 682,05, R$ 386,34, R$ 622,65, R$ 630,79]"
3,09/06/2022,"[Julya meireles 914, MaRIA Julia 444, MaRIA Ju...","[R$ 390,3, R$ 759,16, R$ 334,47, R$ 678,78]"
4,10/06/2022,"[MaRIA Julia 444, PEDRO PASCO 812, Paulo castr...","[R$ 314,24, R$ 311,15, R$ 899,16, R$ 885,24]"

### Step 2

Remover os dados em listas dentro do DataFrame;

Verificar os tipos de dados;

Identificar colunas numéricas;

Transformar a coluna numérica para o tipo numérico.

---

Remove data in lists within the DataFrame;

Check data types;

Identify numeric columns;

Transform numeric column to numeric type.

In [4]:
columns = list(data.columns)
columns

['Data de venda', 'Cliente', 'Valor da compra']

In [12]:
data = data.explode(columns[1:])
data.head()

  Data de venda             Cliente  Valor da compra
0    06/06/2022     @ANA _LUCIA 321           836.50
0    06/06/2022  DieGO ARMANDIU 210           573.33
0    06/06/2022  DieGO ARMANDIU 210           392.80
0    06/06/2022  DieGO ARMANDIU 210           512.34
1    07/06/2022  Isabely JOanes 738           825.31

In [6]:
import numpy as np

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 4
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    20 non-null     object
 1   Cliente          20 non-null     object
 2   Valor da compra  20 non-null     object
dtypes: object(3)
memory usage: 640.0+ bytes

In [8]:
numerical_columns = 'Valor da compra'

In [9]:
data[numerical_columns] = data[numerical_columns].apply(lambda x: x.replace('$', '').replace('R', '').replace(',', '.').strip())

In [10]:
data[numerical_columns] = data[numerical_columns].astype(np.float64)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 4
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    20 non-null     object
 1   Cliente          20 non-null     object
 2   Valor da compra  20 non-null     float64
dtypes: float64(1), object(2)
memory usage: 640.0+ bytes